.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    gap: 2rem;
}

.grid-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: var(--white);
    padding: 1rem;
    margin-top: 1rem;
}

.cell {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--gray);;
    padding: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cell:hover {
    transform: scale(1.05); 
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.active {
    background-color: var(--primary-color);
}

.inactive {
    background-color: white;
}

.button{
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
    width: 170px;
}

.footer{
    display: flex;
    gap: 2rem;
}

.button-large{
    width: 240px;
}