.navbar {
    padding: 16px;
    background-color: var(--primary-color);
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-logo {
    color: var(--white);
    font-size: 1.8rem;
    font-family: "Patrick";
    text-decoration: none;
    margin: 0 1rem;
}
